fastapi
torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
transformers
pillow
easyocr
torchvision
openai
azure-identity
numpy
opencv-python
opencv-python-headless
gradio
dill
accelerate
timm
einops
paddlepaddle
paddleocr
pdf2image
pytesseract
spacy
matplotlib
torch
easyocr
torchvision
supervision
transformers==4.37.2
ultralytics
langchain_chroma
langchain_openai
pymupdf
frontend
langchain_experimental